<section id="contributions" class={{ include.class }}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contributions</h2>
        <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
      </div>
    </div>
    <div class="row text-justify">
      <div class="col-md-12">
        <ul class="large text-muted">
          <li><b>Unifying Inductive, Cross-Domain, and Multimodal Learning for Robust and Generalizable Recommendation <a href="https://arxiv.org/abs/2510.21812" target="_blank">[Paper Link]</a></b><br>
              Chanyoung Chung, Kyeongryul Lee, Sunbin Park and Joyce Whang</li>
          <li><b>Rank-Aware Indigo-DPO: Scalable Preference Optimization for Industrial Talent Search Ranking</b><br>
              Dingxian Wang, Tong Zhang, Xiang Wang, Mahdi Feroze, Ivan Portyanko, Frank Yang, Spyridon Kapnisis and Andrew Rabinovich</li>
          <li><b>Turning Adversaries into Allies: Reversing Typographic Attacks for Multimodal Product Retrieval</b><br>
              Janet Jenq and Hongda Shen</li>
          <li><b>Let Multimodal Embedders Learn When to Augment Query via Adaptive Query Augmentation</b><br>
              Wongyu Kim, Hochang Lee, Sanghak Lee, Yoonsung Kim and Jaehyun Park</li>
          <li><b>V-Agent: An Interactive Video Search System Using Vision-Language Models</b><br>
              Sunyoung Park, Jong-Hyeon Lee, Youngjune Kim, Daegyu Sung, Younghyun Yu, Young-Rok Cha and Jeongho Ju</li>
          <li><b>EcomCLIP: Leveraging multimodal models for generating semantic embeddings <a href="https://arxiv.org/pdf/2504.07110" target="_blank">[Paper Link]</a></b><br>
              Omkar Gurjar, Kin Sum Liu, Praveen Kolli, Utsaw Kumar and Mandar Rahurkar</li>
          <li><b>XX-Qwen-OmniEmbed: A Unified Multimodal Retrieval Model for Text, Image, Audio, and Video <a href="https://arxiv.org/abs/2510.03458" target="_blank">[Paper Link]</a></b><br>
              Mengyao Xu, Wenfei Zhou, Yauhen Babakhin, Gabriel Moreira, Ronay Ak, Radek Osmulski, Benedikt Schifferer and Even Oldridge</li>
          <li><b>TG-S&P: Time-Series Data Generation for Improved Fashion Demand Forecasting</b><br>
              Minsu Na, Sanguk Park, Joopil Lee, Seohyun Lee and Wooju Kim</li>
          <li><b>Enhancing Medical Cross-Modal Hashing Retrieval using Dropout-Voting Mixture-of-Experts Fusion</b><br>
              Jaewon Ahn, Woosung Jang and Beakcheol Jang</li>
          <li><b>SARCH: Multimodal Search for Archaeological Archives <a href="https://arxiv.org/abs/2511.05667" target="_blank">[Paper Link]</a></b><br>
              Nivedita Sinha, Bharati Khanijo, Sanskar Singh, Priyansh Mahant, Ashutosh Roy, Saubhagya Singh Bhadouria, Arpan Jain and Maya Ramanath</li>
        </ul>
      </div>
    </div>
  </div>
</section>
