<section id="organizer" class={{ include.class }}>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="padding-bottom: 20px;">
                <h2 class="section-heading">Workshop Organizers </h2>
                <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
            </div>
        </div>

        
        <div class="row">

<div class="col-sm-1">
    &nbsp;
</div>
            
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/linxinyu.jpeg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://cs.tongji.edu.cn/info/1061/3376.htm">Dr. Yi Bin</a></h4>
        <p class="text-muted">Tongji University</p>
    </div>
</div>

<div class="col-sm-1">
    &nbsp;
</div>

            <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/linxinyu.jpeg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://mmgensr-cikm25.github.io/">Mr. Haoxuan Li</a></h4>
        <p class="text-muted">University of Electronic Science and Technology of China</p>
    </div>
</div>

<div class="col-sm-1">
    &nbsp;
</div>
            
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/linxinyu.jpeg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://hulkima.github.io/">Dr. Haokai Ma</a></h4>
        <p class="text-muted">National University of Singapore</p>
    </div>
</div>

<div class="col-sm-1">
    &nbsp;
</div>

            <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/linxinyu.jpeg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://zyang1580.github.io/">Dr. Yang Zhang</a></h4>
        <p class="text-muted">National University of Singapore</p>
    </div>
</div>
            
        </div>


        
        <div class="row">

<div class="col-sm-1">
    &nbsp;
</div>
            
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/linxinyu.jpeg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://wenjiewwj.github.io/">Dr. Wenjie Wang</a></h4>
        <p class="text-muted">University of Science and Technology of China</p>
    </div>
</div>

<div class="col-sm-1">
    &nbsp;
</div>

            <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/linxinyu.jpeg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://mysbupt.github.io/">Dr. Yunshan Ma</a></h4>
        <p class="text-muted">Singapore Management University</p>
    </div>
</div>

<div class="col-sm-1">
    &nbsp;
</div>
            
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/linxinyu.jpeg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://faculty.uestc.edu.cn/yangyang/zh_CN/index.htm">Dr. Yang Yang</a></h4>
        <p class="text-muted">University of Electronic Science and Technology of China</p>
    </div>
</div>

<div class="col-sm-1">
    &nbsp;
</div>

            <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/linxinyu.jpeg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://www.chuatatseng.com/">Dr. Tat-Seng Chua</a></h4>
        <p class="text-muted">National University of Singapore</p>
    </div>
</div>
            
        </div>      
            
        </div>
        
    </div>
</section>
