<section id="summary" style="padding-top: 30px;" class={{ include.class }}>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About the MMGenSR</h2>
                    <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
                </div>
            </div>
            <div class="row text-justify">
                <div class="col-md-12">
                    <p class="large text-muted">
                       The rapid advancements in generative Artificial Intelligence (AI) have ignited a revolutionary wave across information retrieval and recommender systems. The MMGenSR workshop serves as a premier interdisciplinary platform to explore how generative models, particularly Large Language Models (LLMs) and Large Multimodal Models (LMMs), are transforming both multimodal search and recommendation paradigms.
                    </p>
                    <p class="large text-muted">
                       We aim to bring together researchers and practitioners to discuss innovative architectures, methodologies, and evaluation strategies for generative document retrieval, generative image retrieval, grounded answer generation, generative recommendation, and other multimodal tasks.
                    </p>
                    <p class="large text-muted">
                       The workshop will foster discussions on improving algorithms, generating personalized content, evolving user-system interactions, enhancing trustworthiness, and refining evaluation methodologies for these cutting-edge systems. This timely workshop seeks to identify promising future research directions, address key challenges, and catalyze collaborations towards the development of next-generation intelligent systems.
                    </p>
                </div>
            </div>
        </div>
    </section>
